@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap);
body {
  font-family: "PT Sans";
  background: #e5e5e5;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #202846;
}

.header__row {
  padding: 13px 0;
  overflow: hidden;
  width: 1489px;
  margin: 0 auto;
}

.header__icon {
  float: left;
}

.header__menu {
  display: block;
}

.menu {
  overflow: hidden;
}

.menu li {
  float: left;
  list-style: none;
}

.menu__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  height: 59px;
  width: 200px;
}

.menu__item:not(:last-child) {
  border-right: 2px solid white;
}

.menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}

.menu__link:hover {
  color: gold;
}

.lang {
  vertical-align: middle;
}

.lang-icon {
  margin-right: 15px;
}

.lang-text {
  display: inline-block;
}

.order {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #c6c6dc;
  margin: 100px 0;
  padding: 50px 0px;
}

.order-text {
  font-size: 48px;
  line-height: 62px;
  color: #202846;
}

.container {
  width: 1489px;
  margin: 0 auto;
}

.cards {
  padding-bottom: 90px;
}

.card {
  position: relative;
  background: #bdbdc6;
  padding: 30px 100px;
  margin-bottom: 35px;
}

.card__image {
  float: left;
  margin-right: 100px;
}

.card__title {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #353c57;
}

.card__description {
  overflow: hidden;
  padding: 30px;
  background: #d7d7dd;
  font-size: 22px;
  line-height: 28px;
  color: #202846;
}

.card__star {
  position: absolute;
  right: 17px;
  top: 17px;
}

.svg:hover .path {
  fill: gold;
}

.title-line {
  overflow: hidden;
  height: 3px;
  background: #fff;
  margin-bottom: 10px;
}

.card__button {
  position: absolute;
  bottom: 25px;
  right: -40px;
  z-index: 2;
}

.card__button a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  padding: 15px 40px;
  background: #202846;
  border-radius: 40px;
}

.card__button a:hover {
  color: gold;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #202846;
  padding: 20px 0px 20px 60px;
}

.footer-text {
  font-style: italic;
  font-size: 36px;
  line-height: 47px;
  color: #eeecf1;
  width: 1489px;
  margin: 0 auto;
}

.swipe-arrow {
  position: fixed;
  right: 350px;
  bottom: 450px;
}
