@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: #212529;
}

[class*="__container"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1350px;
  padding: 0px 10px;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1350px;
  border-left: 1px solid #b80000;
  border-right: 1px solid #b80000;
  margin: 0 auto;
}

.btn {
  padding: 12px 26px;
  text-decoration: none;
  background: #ffb742;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 167%;
  color: #212529;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #4635e0;
}

.label {
  display: inline-block;
  color: #ffb742;
  padding: 6px 25px;
  background: #292b2e;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 25px;
}

.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 3rem;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}

.ft {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 1.312rem;
  line-height: 32px;
  color: #f5fbf2;
  margin-top: 0;
  padding: 0;
}

.fi {
  list-style: none;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.fi,
.fi > a {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 36px;
  color: #7b7b7b;
}

.fi:active > a {
  color: #ffb742;
}

.header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  margin: 0 auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 0 12.5px;
}

.header__link {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link:hover {
  color: #ffb742;
}

.hire {
  margin-right: 10px;
}

.greetings__column {
  margin: 100px auto 130px;
}

.column-greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-greetings__hi {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2rem;
  line-height: 159%;
  text-transform: capitalize;
  color: #ffffff;
}

.column-greetings__major {
  font-family: "Inter";
  font-weight: 700;
  font-size: 3rem;
  line-height: 189%;
  text-transform: capitalize;
  color: #ffffff;
}

.column-greetings__creed {
  font-family: "Inter";
  font-size: 1.5rem;
  line-height: 211%;
  text-transform: capitalize;
  color: #ffffff;
}

.name-link {
  color: #ffb742;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.name-link:hover {
  color: #4635e0;
}

.realization {
  margin-bottom: 140px;
}

.realization__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.realization__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  margin: 0 12.5px;
  background: #292b2e;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.realization__item:hover {
  background: #ffb742;
}

.realization__item:hover .realization__amount,
.realization__item:hover .realization__label {
  color: #000;
}

.realization__text {
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.realization__amount {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
  color: #ffb742;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.realization__label {
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about {
  margin-bottom: 70px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__text {
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 30px;
  color: #d5d5d5;
  margin-bottom: 55px;
}

.gallary {
  padding-bottom: 100px;
}

.gallary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallary__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallary__works img {
  margin: 0 15px 15px;
}

.gallary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallary-menu_item {
  list-style: none;
}

.gallary-menu_link {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.gallary-menu_link:hover {
  border-radius: 3px;
  background: #ffb742;
  color: #212529;
}

.footer {
  padding: 150px 0px 100px;
  background: #1c1c1c;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.autor-name {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  color: #ffb742;
  margin-bottom: 30px;
}

.autor-major {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1rem;
  line-height: 32px;
  color: #d4d4d4;
}
