@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
body {
	font-family: Montserrat;
}
body {
	background: #ececec;
}
.wrapper {
	box-sizing: border-box;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0px 10px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	padding: 0px 10px;
	z-index: 2;
	box-shadow: 0 6px 4px #c4c4c4;
	background-color: #fff !important;
}
.header-navbar {
	max-width: 1240px;
	margin: 0 auto;
	background-color: #fff !important;
}
.navbar-expand-lg {
}
.bg-light {
}
.container-fluid {
}
.navbar-toggler {
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.navbar-brand {
	flex: 0 1 70px;
	margin: 0;
	padding: 5px;
	align-self: flex-start;
	& img {
		width: 100%;
		object-fit: cover;
	}
}
.d-flex {
	flex: 0 1 100%;
	justify-content: flex-end;
	align-self: flex-start;
	padding: 16px 0;
}
.name {
	flex: 1 1 100%;
	padding: 75px 0px 31px;
	border-top: 1px solid #c4c4c4;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
}
.form-control {
	background: url("../img/header/adress.png") 10px 50% no-repeat;
	padding-left: 40px;
	border: 2px solid #000;
	width: 500px;
}
.me-2 {
}
.btn {
}
.btn-outline-warning {
	color: white;
	background: #ef781a;
	margin-right: 30px;
	margin-left: 25%;
}
.btn-outline-success {
	color: white;
	background: #00d008;
}
// ------------------------
.food {
	@media (min-width: 992px) {
		padding-top: 250px;
	}
	padding-top: 120px;
	& li {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #7b7b7b;
		margin: 0 16px;
	}
	& a:hover {
		border-radius: 10px;
		background-color: #c4c4c4;
		color: #343434;
	}
}
.food-nav {
	margin-bottom: 20px;
	& .navbar {
		background-color: #ececec !important;
	}
}
.food-navbar {
}
.navbar {
}
.navbar-expand-lg {
}
.bg-light {
}
.container-fluid {
}
.navbar-toggler {
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
}
.navbar-nav {
}
.me-auto {
}
.mb-2 {
}
.mb-lg-0 {
}
.nav-item {
}
.nav-link {
}
.active {
}
// ----------------------------------------------------
.card {
	& img {
		width: 100%;
		object-fit: cover;
	}
	box-shadow: 0 6px 4px #c4c4c4;
}
.card-img-top {
}
.card-body {
	display: flex;
	flex-direction: column;
	padding: 15px 30px;
	position: relative;
	overflow: hidden;
}
.card-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 10px;
}
.card-text {
	flex: 1 1 auto;
	font-size: 10px;
	line-height: 12px;
	font-weight: 500;
	color: #a2a2a2;
	margin-bottom: 30px;
}
.card-price {
	cursor: pointer;
	width: 113px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin: 0;
	&:hover {
		display: none;
	}
	&:hover + .bucket {
		display: block;
	}
}

.bucket {
	padding: 10px 23px;
	display: none;
	position: absolute;
	left: 23px;
	bottom: 9px;

	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;

	background: #ff6c01;
	border-radius: 10px;
	border: none;
}
// ----------------------------------------
.test {
	display: flex;
	width: 300px;
	height: 300px;
}
.test1 {
	width: 100px;
	height: 100px;
	background: #000;
	margin-right: 50px;
	&:hover {
		background: rgb(68, 119, 185);
	}
}

.test1:hover + .test2 {
	background: rgb(185, 183, 68);
}

.test2 {
	width: 100px;
	height: 100px;
	background: rgb(209, 82, 82);
}

// ----------------------------------------
.heart {
	position: absolute;
	right: 23px;
	bottom: 14px;
	&:hover path {
		fill: #69a042;
	}
}

.btn {
}
.btn-primary {
}
// ----------------------------------------------------
.container {
	padding: 0;
	margin: 0;
}
// -----------------------
.discounts__title {
}
.title {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-bottom: 35px;
}
// ------------------------
.row {
}
.col-xl-4,
.col-lg-4,
.col-sm-6,
.col-12 {
	padding: 0;
}
// --------------------------------------------------
.discounts,
.burgers,
.chicken {
}
// -----------------------------------------------------
.partner {
	padding: 30px 30px 15px;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 70px;
}
.partner-column {
}
.label {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #999999;
	margin-bottom: 7px;
}
.text {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 15px;
}
// --------------------------------
.container {
}
.column {
}
// -------------------------------
.days {
}
.days-label {
}

.days-text {
}
// ---------------------------------
.time {
}
.time-label {
}
.time-text {
}
// ---------------------------------
.adress {
}
.adress-label {
}
.adress-text {
}
// ---------------------------------
.info {
}
.info-label {
}
.info-text {
}
// ---------------------------------
.up {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url("../img/Feather-arrows-arrow-up.svg") 50% no-repeat #fff;
}
// ---------------------------------
.order {
	padding: 25px 16px;
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	&__label {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		padding: 0px 20px;
		margin-bottom: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		padding: 0px 20px;
	}

	&__button {
		display: flex;
		justify-content: space-between;
	}
}
.item-order {
	&__total {
		display: flex;
		margin-bottom: 30px;
		// justify-content: space-between;
	}

	&__deliv {
		display: flex;
		justify-content: space-between;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		margin-bottom: 30px;
	}
}
.total-food {
	flex: 0 1 45%;
	// margin-right: 25px;
	&_label {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
	}

	&_list {
		padding: 5px 0px 0px 15px;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #979797;
	}
}
.tfli {
}
.total {
	&__amount {
		display: flex;
		flex: 0 1 30%;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		& span.plus,
		span.minus {
			cursor: pointer;
			display: inline-block;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			margin: 0 10px;
		}
		& span.plus {
			background: url("../img/order/+.svg") 50% no-repeat #ff6c01;
		}
		& span.minus {
			background: url("../img/order/-.svg") 50% no-repeat #ff6c01;
		}
	}

	&__price {
		text-align: right;
		flex: 0 1 25%;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
	}
}
.deliv-text {
}
.deliv-price {
}
.button-order {
	padding: 20px;
	background: #ff6c01;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	&__text {
	}

	&__price {
	}
}
