@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=wrap);
body {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	padding: 100px 100px;
}
.wpapper {
	display: inline-grid;
	padding: 30px 45px;
	background: #ffb084;
	border-radius: 20px;
	margin: 0 auto;
	gap: 20px;
	grid-template-columns: 250px 190px 190px;
	grid-template-rows: repeat(9, 30px);
}
.about {
	box-sizing: border-box;
	padding: 10px 20px;
	background: #fff;
	border-radius: 20px;
	grid-column: 1/2;
	grid-row: 1/8;

	box-shadow: 10px 10px #000;
	& div:not(:last-child) {
		margin-bottom: 15px;
	}
	&__name {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
	}
	& span {
		font-weight: 600;
		font-size: 12px;
		line-height: 14px;
	}

	&__photo {
		margin: 0 auto;
		height: 101px;
		width: 101px;
		& img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__age {
	}

	&__education {
	}

	&__occupation {
	}

	&__location {
	}

	&__ability {
	}
}
.bio {
	grid-row: 1/4;
	grid-column: 2/4;
	box-sizing: border-box;
	padding: 10px 25px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 10px 10px #000;
	&__label {
		font-weight: 700;
		font-size: 14px;
		margin-bottom: 7px;
	}

	&__text {
	}
}
.goals {
	box-sizing: border-box;
	grid-row: 4/7;
	grid-column: 2/3;
	padding: 15px 25px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 10px 10px #29a71e;
	&__label {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		color: #29a71e;
		margin-bottom: 7px;
	}

	&__list {
		margin: 0;
		padding-left: 20px;
	}
}
.frustrations {
	grid-row: 4/8;
	grid-column: 3/4;
	padding: 10px 25px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 10px 10px #e13535;
	&__label {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 7px;
		color: #e13535;
	}

	&__list {
		margin: 0;
		padding-left: 20px;
	}
}
.dream {
	grid-row: 7/10;
	grid-column: 2/3;
	padding: 10px 25px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 10px 10px #3675b0;
	&__label {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 7px;
		color: #3675b0;
	}

	&__list {
		margin: 0;
		padding-left: 20px;
	}
}
.personality {
	grid-row: 8/10;
	grid-column: 3/4;
	padding: 10px 25px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 10px 10px #000;
	&__label {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 7px;
	}

	&__point {
	}
}
.creed {
	grid-column: 1/2;
	grid-row: 8/10;
	padding: 25px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 10px 10px #000;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}
