@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap);
body {
	font-family: "PT Sans";
	background: #e5e5e5;
	margin: 0;
}
// ---------------------------------------------------
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	box-sizing: border-box;
	background: #202846;
	&__row {
		padding: 13px 0;
		overflow: hidden;
		width: 1489px;
		margin: 0 auto;
	}

	&__icon {
		float: left;
	}

	&__menu {
		display: block;
	}
}
.menu {
	overflow: hidden;
	& li {
		float: left;
		list-style: none;
	}
	&__item {
		box-sizing: border-box;
		text-align: center;
		height: 59px;
		width: 200px;
		&:not(:last-child) {
			border-right: 2px solid white;
		}
	}

	&__link {
		text-decoration: none;
		font-weight: 700;
		font-size: 24px;
		line-height: 31px;
		color: #ffffff;
		&:hover {
			color: gold;
		}
	}
}
.lang {
	vertical-align: middle;
}
.lang-icon {
	margin-right: 15px;
}
.lang-text {
	display: inline-block;
}
// ---------------------------------------------------
.order {
	box-sizing: border-box;
	background: #c6c6dc;
	margin: 100px 0;
	padding: 50px 0px;
}
.order-text {
	font-size: 48px;
	line-height: 62px;
	color: #202846;
}

// ---------------------------------------------------
.container {
	width: 1489px;
	margin: 0 auto;
}
// ---------------------------------------------------
.cards {
	padding-bottom: 90px;
}
.container {
}
.card {
	position: relative;
	background: #bdbdc6;
	padding: 30px 100px;
	margin-bottom: 35px;
	&__image {
		float: left;
		margin-right: 100px;
	}

	&__item {
	}

	&__title {
		font-style: italic;
		font-weight: 700;
		font-size: 36px;
		line-height: 47px;
		color: #353c57;
	}

	&__description {
		overflow: hidden;
		padding: 30px;
		background: #d7d7dd;
		font-size: 22px;
		line-height: 28px;
		color: #202846;
	}

	&__star {
		position: absolute;
		right: 17px;
		top: 17px;
	}
}
// -----------------------------
.svg:hover .path {
	fill: gold;
}
// -----------------------------

.title-card {
}
.title-line {
	overflow: hidden;
	height: 3px;
	background: #fff;
	margin-bottom: 10px;
}

.card {
	&__button {
		position: absolute;
		bottom: 25px;
		right: -40px;
		z-index: 2;
		& a {
			box-sizing: border-box;
			text-decoration: none;
			font-size: 24px;
			line-height: 31px;
			color: #ffffff;
			padding: 15px 40px;
			background: #202846;
			border-radius: 40px;
			&:hover {
				color: gold;
			}
		}
	}
}
// ---------------------------------------------------
.footer {
	box-sizing: border-box;
	background: #202846;
	padding: 20px 0px 20px 60px;
}
.footer-text {
	font-style: italic;
	font-size: 36px;
	line-height: 47px;
	color: #eeecf1;
	width: 1489px;
	margin: 0 auto;
}
// ---------------------------------------------------
.swipe-arrow {
	position: fixed;
	right: 350px;
	bottom: 450px;
}
// ---------------------------------------------------
