body {
  background: #e5e5e5;
}

.cube,
.circle-frame {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 50px 100px;
  width: 512px;
  height: 512px;
  display: inline-block;
}

.cube,
.circle {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2137fc), color-stop(50%, #ffce22));
  background: linear-gradient(180deg, #2137fc 50%, #ffce22 50%);
}

.circle-frame {
  background: #fff;
}

.circle {
  margin: 25px;
  height: 467px;
  border-radius: 50%;
}

.cube-wave_item {
  height: 100%;
  background: url("../img/wave.png") 50%/auto no-repeat;
}

.circle-wave_item {
  height: 100%;
  background: url("../img/wave.png") bottom/auto no-repeat;
}

.cube-hexagon_item {
  height: 100%;
  background: url("../img/hexagon.png") left/auto no-repeat;
}

.circle-hexagon_item {
  height: 100%;
  background: url("../img/hexagon.png") center/auto no-repeat;
}

.cube-plane_item {
  height: 100%;
  background: url("../img/Plane.png") bottom right/auto no-repeat;
}

.circle-plane_item {
  height: 100%;
  background: url("../img/Plane.png") center/auto no-repeat;
}

.cube-diya_item {
  height: 100%;
  background: url("../img/diya.png") center/auto no-repeat;
}

.circle-diya_item {
  height: 100%;
  background: url("../img/diya.png") center/auto no-repeat;
}

.cube-black.flag1 {
  background: #000 url("../img/Flag.png") center 83%/80px 60px no-repeat;
}

.cube-black.flag2 {
  background: #000 url("../img/Flag.png") 15px 15px/80px 60px no-repeat;
}

.cube-black.flag34 {
  background: url("../img/Flag.png") 15px 15px/80px 60px no-repeat, url("../img/Flag.png") 417px 15px/80px 60px no-repeat black;
}
