@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=M+PLUS+1:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Marcellus+SC:regular&display=swap);
body {
	font-family: "IBM Plex Sans";
	margin: 0;
}

.title {
	padding: 75px 0px 0px 0px;
	&__text {
		font-weight: 700;
		font-size: 40px;
		line-height: 157.3%;
		margin: 0px 0px 25px 0px;
	}

	&__line {
		width: 405px;
		height: 5px;
		background: #3e45e8;
	}
}

.strong {
	padding: 25px 0px;
	text-align: center;
	font-family: "M PLUS 1";
	font-size: 48px;
	line-height: 70px;
	color: #e8c23e;
}
.blue-span {
	color: #3e45e8;
}
.main {
	box-sizing: border-box;
	height: 803px;
	background: url("../img/main/main.png") 0 0 / 100% auto no-repeat;
	padding: 195px 0px 0px 80px;
	&__expression {
		box-sizing: border-box;
		max-width: 1036px;
		font-weight: 700;
		font-size: 48px;
		line-height: 76px;
		color: #fff;
		background: linear-gradient(180deg, rgba(30, 141, 242, 1) 50%, rgba(251, 226, 1, 1) 50%) 0 0/22px no-repeat;
		padding: 0px 0px 0px 36px;
	}
}

.places {
	margin: 0 80px 75px;
	&__title {
	}
	&__row {
		padding: 35px 0px 0px 0px;
	}
	&__column {
	}
}
.column {
	display: inline-block;
	overflow: hidden;
	width: 391px;
	height: 480px;
	border-radius: 30px;
	box-shadow: 0 0 20px #afafaf;
	text-decoration: none;
	&:nth-child(2) {
		margin: 0px 50px 0px;
	}
	&:hover {
		text-decoration: underline;
	}
	&__image {
		position: relative;
		margin: 0px 0px 30px 0px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		color: #1e8df2;
		font-weight: 700;
		font-size: 24px;
		line-height: 157.3%;
		margin: 0px 0px 20px 0px;
		padding: 0px 10px;
	}

	&__subtitle {
		color: #e8c23e;
		font-size: 20px;
		line-height: 157.3%;
		padding: 0px 10px;
		max-width: 252px;
	}
}

.support {
	text-align: center;
	&__title {
		margin: 0px 0px 40px 0px;
	}
	.center-line {
		margin: 0 auto;
	}

	&__illustration {
		margin: 0px 0px 40px 0px;
	}

	&__link {
		margin: 0 auto;
		text-decoration: none;
		font-size: 64px;
		line-height: 157.3%;
		font-weight: 700;
		padding: 10px 90px;
		background: #2a61f0;
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
		margin: 0px 0px 20px 0px;
	}
}
.footer {
	margin: 20px 0px 0px 0px;
	box-sizing: border-box;
	background: #2f4a4b;
	text-align: center;
	&__strong {
		padding: 0;
		margin: 0px 0px 20px 0px;
	}
	&__mail {
		margin: 0px 0px 20px 0px;
		& a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			font-family: "Marcellus SC";
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 45px;
			color: #a89d9d;
		}
	}

	&__phone {
		margin: 0px 0px 20px 0px;
		& a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			font-family: "Marcellus SC";
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 45px;
			color: #a89d9d;
		}
	}

	&__social {
		padding: 0px 0px 25px 0px;
	}
}
.social-link {
	padding: 0px 10px;
}
.inst {
}
.twit {
}
.face {
}
.tele {
}
