.block {
  margin: 0px 0px 35px 0px;
}

.block2__title {
  text-align: center;
}

.img {
  width: 100%;
}

.block3__title {
  text-align: right;
}

.block3__text {
  text-align: center;
}

.block4__title {
  text-align: center;
}

.center-img {
  display: block;
  margin: 0 auto;
}
