.block {
	margin: 0px 0px 35px 0px;
}

.block1 {
	&__title {
	}

	&__text {
	}
}
.block2 {
	&__title {
		text-align: center;
	}
}
.img {
	width: 100%;
}

.block3 {
	&__title {
		text-align: right;
	}
	&__text {
		text-align: center;
	}
}
.block4 {
	&__title {
		text-align: center;
	}
}
.center-img {
	display: block;
	margin: 0 auto;
}

.block5 {
	&__title {
	}

	&__text {
	}
}
