@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
// ----------------------------------------------
html {
	font-size: 16px;
}
// ----------------------------------------------
body {
	margin: 0;
	padding: 0;
	background: #212529;
}
// ----------------------------------------------
[class*="__container"] {
	box-sizing: border-box;
	width: 1350px;
	padding: 0px 10px;
}
// ----------------------------------------------
.wrapper {
	box-sizing: border-box;
	width: 1350px;
	border-left: 1px solid rgb(184, 0, 0);
	border-right: 1px solid rgb(184, 0, 0);
	margin: 0 auto;
}
// ----------------------------------------------
.btn {
	padding: 12px 26px;
	text-decoration: none;
	background: #ffb742;
	box-sizing: border-box;
	border-radius: 50px;

	font-family: "Poppins";
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 167%;
	color: #212529;
	transition: all 0.3s ease;
	&:hover {
		color: #4635e0;
	}
}
// ----------------------------------------------
.label {
	display: inline-block;
	color: #ffb742;
	padding: 6px 25px;
	background: #292b2e;
	border-radius: 50px;
	text-transform: uppercase;

	font-family: "Poppins";
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 30px;
	margin-bottom: 25px;
}
// ----------------------------------------------
.title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 3rem;
	line-height: 30px;
	color: #ffffff;
	margin-bottom: 30px;
}
// ----------------------------------------------
.ft {
	font-family: "Work Sans";
	font-weight: 700;
	font-size: 1.312rem;
	line-height: 32px;
	color: #f5fbf2;
	margin-top: 0;
	padding: 0;
}
.fi {
	list-style: none;
	transition: all 0.3 ease;
	&,
	& > a {
		text-decoration: none;
		font-family: "Work Sans";
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 36px;
		color: #7b7b7b;
	}
	&:active {
		& > a {
			color: #ffb742;
		}
	}
}
// ----------------------------------------------
.header {
	&__container {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;
		margin: 0 auto;
	}

	&__logo {
	}

	&__nav {
		display: flex;
	}

	&__item {
		box-sizing: border-box;
		list-style: none;
		padding: 0 12.5px;
	}

	&__link {
		text-decoration: none;
		font-family: "Poppins";
		font-weight: 600;
		font-size: 1.125rem;
		line-height: 27px;
		text-transform: capitalize;
		color: #ffffff;
		transition: all 0.3s ease;
		&:hover {
			color: #ffb742;
		}
	}
}
.hire {
	margin-right: 10px;
}
// -----------------------------------------------------
.greetings {
	&__column {
		margin: 100px auto 130px;
	}
}
.column-greetings {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__hi {
		font-family: "Inter";
		font-weight: 700;
		font-size: 2rem;
		line-height: 159%;
		text-transform: capitalize;
		color: #ffffff;
	}

	&__major {
		font-family: "Inter";
		font-weight: 700;
		font-size: 3rem;
		line-height: 189%;
		text-transform: capitalize;
		color: #ffffff;
	}

	&__creed {
		font-family: "Inter";
		font-size: 1.5rem;
		line-height: 211%;
		text-transform: capitalize;
		color: #ffffff;
	}

	&__avatar {
	}
}
.name-link {
	color: #ffb742;
	transition: all 0.3s ease;
	&:hover {
		color: #4635e0;
	}
}
// --------------------------------------------------
.realization {
	margin-bottom: 140px;
	&__container {
		display: flex;
	}

	&__item {
		display: flex;
		flex: 0 1 33%;
		align-items: center;
		justify-content: space-between;
		padding: 30px;
		margin: 0 12.5px;
		background: #292b2e;
		border-radius: 20px;
		transition: all 0.3s ease;
		&:hover {
			background: #ffb742;
			.realization__amount,
			.realization__label {
				color: #000;
			}
		}
	}

	&__icon {
	}

	&__text {
		text-align: center;
		text-transform: capitalize;
		transition: all 0.3s ease;
	}

	&__amount {
		font-family: "Inter";
		font-weight: 700;
		font-size: 2rem;
		line-height: 40px;
		color: #ffb742;
		transition: all 0.3s ease;
	}

	&__label {
		font-weight: 700;
		font-size: 1rem;
		color: #ffffff;
		transition: all 0.3s ease;
	}

	&__next {
	}
}
// -------------------------------------------
.about {
	margin-bottom: 70px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__img {
		flex: 0 1 50%;
	}

	&__column {
		flex: 0 1 50%;
	}

	&__label {
	}

	&__title {
	}

	&__text {
		font-family: "Poppins";
		font-size: 1rem;
		line-height: 30px;
		color: #d5d5d5;
		margin-bottom: 55px;
	}
}
// ----------------------------------------------
.gallary {
	padding-bottom: 100px;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__label {
	}

	&__title {
	}

	&__nav {
	}

	&__works {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		& img {
			margin: 0 15px 15px;
		}
	}
}
.gallary-menu {
	display: flex;
	&_item {
		list-style: none;
	}

	&_link {
		text-decoration: none;
		font-family: "Poppins";
		font-weight: 600;
		font-size: 1rem;
		line-height: 30px;
		color: #ffffff;
		padding: 10px 20px;
		transition: all 0.3 ease;
		&:hover {
			border-radius: 3px;
			background: #ffb742;
			color: #212529;
		}
	}
}
// -------------------------------------------
.footer {
	padding: 150px 0px 100px;
	background: #1c1c1c;
	&__container {
		display: flex;
		justify-content: space-between;
	}
}
.autor {
	display: flex;
	flex-direction: column;
}
.autor-name {
	font-family: "Poppins";
	font-weight: 700;
	font-size: 2rem;
	line-height: 100%;
	color: #ffb742;
	margin-bottom: 30px;
}
.autor-major {
	font-family: "Work Sans";
	font-weight: 600;
	font-size: 1rem;
	line-height: 32px;
	color: #d4d4d4;
}
.footer-links {
}
.links {
}
.links-title {
}
.links-item {
}
// ---------------------------------
.social {
}
.social-title {
}
.social-item {
}
// ---------------------------------
.footer-newsletter {
}
.newsletter {
}
.newsletter-title {
}
.newsletter-text {
}
