@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
body {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #171717;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 110px;
}

label {
  line-height: 140%;
  margin-bottom: 8px;
  font-size: 16px;
}

label span {
  color: #d83933;
}

input {
  margin-bottom: 20px;
}

select,
input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e0dbdb;
  margin-bottom: 20px;
}

[type*="checkbox"] {
  display: inline;
}

[class*="__name"] {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

div[class*="__container"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 715px;
  max-width: 1015px;
  background: #fff;
  padding: 0px 15px;
}

.bb {
  border-bottom: 2px solid rgba(212, 212, 212, 0.836);
}

.intake {
  margin-bottom: 30px;
}

.intake__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 80px;
}

.intake__subtitle {
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 25px;
}

.intake__subtitle span {
  color: #d83933;
}

.intake__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.intake__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}

.arrow {
  background: url("../img/arrow.svg") 100% 50%/18px no-repeat;
}

[type*="search"] {
  background: url("../img/search.svg") 98% 50%/18px no-repeat;
}

[type*="search"]:hover {
  background: none;
}

#owner,
#regist {
  color: #0050d8;
}

#purge {
  margin-bottom: 55px;
}

.column-bottom,
.column-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-two {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maternity {
  margin-bottom: 32px;
}

.maternity__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maternity__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px 12px;
}

.maternity__item2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.official {
  margin-bottom: 32px;
}

.official__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 12px;
}

.official__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}

.system__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  border-bottom: 2px solid rgba(212, 212, 212, 0.836);
}

.system__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 0px;
  text-align: right;
}

.btn button {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  padding: 9px 16px;
  background: #0050d8;
  border-radius: 4px;
  border: none;
}
