@import url(https://fonts.googleapis.com/css?family=Rosario:700,600italic,700italic&display=swap);

body {
	padding: 0;
	margin: 0;
	font-family: Rosario;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	min-width: 100%;
	background: #000;
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 129px;
		max-width: 1620px;
		margin: 0 auto;
	}

	&__logo {
	}

	&__menu {
		display: flex;
		list-style: none;
		position: relative;
		@media (max-width: 1300px) {
			display: none;
		}
	}
	&::after {
		content: "";
		position: absolute;
		right: 10px;
		top: 50%;
		width: 50px;
		height: 50px;
		transform: translate(0, -50%);
		background: url("../img/header/burger.svg") 50% / cover no-repeat;
		display: none;
		@media (max-width: 1300px) {
			display: block;
		}
	}
}

.logo-link {
	display: block;
	width: 253px;
	height: 129px;
	padding: 0;
	margin: 0;
	background: #e5e5e5;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.menu {
	&__link {
		padding: 0px 24px;
		& a {
			text-decoration: none;
			font-style: italic;
			font-weight: 700;
			font-size: 36px;
			line-height: 44px;
			color: #fffcfc;
		}
	}
}
// -------------------------------------------------------
[class*="__container"] {
	max-width: 1620px;
	margin: 0 auto;
}
// -------------------------------------------------------
.gallary {
	&__container {
		box-sizing: border-box;
		min-height: 100vh;
		display: flex;
		padding: 140px 5px 25px;
		align-items: center;
		justify-content: center;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 20px;
		flex: 0 1 25%;
		@media (max-width: 992px) {
			flex: 0 1 40%;
		}
		@media (max-width: 768px) {
			flex: 0 1 50%;
		}
	}
	&__item {
		& img {
			width: 100%;
			object-fit: cover;
		}
	}
}
.col-2,
.col-3 {
	.gallary__item {
		flex: 0 1 50%;
		margin-bottom: 15px;
	}
}
// -------------------------------------------------------
.col-1 {
	position: relative;
	animation: anim1 2s ease 1;
	@keyframes anim1 {
		0% {
			transform: translate(-200%);
		}
		100% {
			transform: translate(0);
		}
	}
	@media (max-width: 992px) {
		animation: anim1 1s ease 1;
		@keyframes anim1 {
			0% {
				transform: translate(-100%);
			}
			100% {
				transform: translate(0);
			}
		}
	}
}
.col-2 {
	position: relative;
	animation: anim2 1s ease 1;
	@keyframes anim2 {
		0% {
			transform: translate(-100%);
		}
		100% {
			transform: translate(0);
		}
	}
	@media (max-width: 992px) {
		animation: anim2 1s ease 1;
		@keyframes anim2 {
			0% {
				transform: translate(100%);
			}
			100% {
				transform: translate(0);
			}
		}
	}
}
.col-3 {
	position: relative;
	animation: anim3 1s ease 1;
	@keyframes anim3 {
		0% {
			transform: translate(-100%);
		}
		100% {
			transform: translate(0);
		}
	}
	@media (max-width: 992px) {
		animation: anim3 1s ease 1;
		@keyframes anim3 {
			0% {
				transform: translate(-100%);
			}
			100% {
				transform: translate(0);
			}
		}
	}
}
.col-4 {
	position: relative;
	animation: anim4 2s ease 1;
	@keyframes anim4 {
		0% {
			transform: translate(200%);
		}
		100% {
			transform: translate(0);
		}
	}
	@media (max-width: 992px) {
		animation: anim4 1s ease 1;
		@keyframes anim4 {
			0% {
				transform: translate(100%);
			}
			100% {
				transform: translate(0);
			}
		}
	}
}
// -----------------------------------------------------
@media (max-width: 768px) {
	.i1,
	.i3,
	.i5 {
		position: relative;
		animation: odd 1s ease 1;
		@keyframes odd {
			0% {
				transform: translate(-300%);
			}
			100% {
				transform: translate(0);
			}
		}
	}
	.i2,
	.i4,
	.i6 {
		position: relative;
		animation: even 1s ease 1;
		@keyframes even {
			0% {
				transform: translate(300%);
			}
			100% {
				transform: translate(0);
			}
		}
	}
}
// -----------------------------------------------------
.service {
	min-height: 100vh;
	&__container {
		height: 100%;
		display: flex;
		box-sizing: border-box;
		padding: 129px 0px 0px 0px;
		@media (max-width: 992px) {
			flex-direction: column-reverse;
		}
	}

	&__column {
		flex: 0 1 50%;
		align-items: center;
		justify-content: center;
		& img {
			width: 100%;
			object-fit: cover;
		}
	}
}
.circles {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.circles-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 50%;
}
.circles-image {
	& img {
		width: 100%;
		object-fit: cover;
	}
}
.circles-text {
	font-style: italic;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
}
.service-bg {
	@media (max-width: 768px) {
		display: none;
	}
}
// ------------------------------------------------------------------------------
.c1 {
	position: relative;
	animation: anim5 20s ease infinite;
	@keyframes anim5 {
		0% {
			transform: translate(0%);
		}
		25% {
			transform: translate(100%);
		}
		50% {
			transform: translate(100%, 113%);
		}
		75% {
			transform: translate(0%, 113%);
		}
	}
}
.c2 {
	position: relative;
	animation: anim6 20s ease infinite;
	@keyframes anim6 {
		0% {
			transform: translate(0%);
		}
		25% {
			transform: translate(0%, 113%);
		}
		50% {
			transform: translate(-100%, 113%);
		}
		75% {
			transform: translate(-100%, 0%);
		}
	}
}
.c3 {
	position: relative;
	animation: anim7 20s ease infinite;
	@keyframes anim7 {
		0% {
			transform: translate(0%);
		}
		25% {
			transform: translate(0, -113%);
		}
		50% {
			transform: translate(100%, -113%);
		}
		75% {
			transform: translate(100%, 0);
		}
	}
}
.c4 {
	position: relative;
	animation: anim8 20s ease infinite;
	@keyframes anim8 {
		0% {
			transform: translate(0%);
		}
		25% {
			transform: translate(-100%, 0);
		}
		50% {
			transform: translate(-100%, -113%);
		}
		75% {
			transform: translate(0, -113%);
		}
	}
}
// -------------------------------------------------------
.team {
	&__container {
		min-height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 129px 0px 0px;
	}
	&__title {
		font-weight: 700;
		font-size: 96px;
		line-height: 116px;
		margin: 70px 0 70px;
		text-align: center;
	}
	&__row {
		display: flex;
		@media (max-width: 992px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__column {
		flex: 0 1 auto;
		margin: 0 15px;
		position: relative;
		overflow: hidden;
		min-width: 400px;
		min-height: 677px;
		border-radius: 40px;
		@media (max-width: 992px) {
			margin-bottom: 20px;
		}
		&:hover {
			.team__name {
				opacity: 1;
			}
		}
	}

	&__image {
		& img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__name {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 1s ease 0s;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 115px;
		width: 100%;

		font-size: 48px;
		line-height: 62px;
		background: rgba(163, 83, 10, 0.7);
		color: #fffafa;
		opacity: 0;
	}
}
// -------------------------------
.t1 {
	background: url("../img/team/1.png") 50% / cover no-repeat;
}
.t2 {
	background: url("../img/team/2.png") 50% / cover no-repeat;
}
.t3 {
	background: url("../img/team/3.png") 50% / cover no-repeat;
}
.t4 {
	background: url("../img/team/4.png") 50% / cover no-repeat;
}
// ----------------------------------------------------------------
.contacts {
	margin-top: 129px;
	&__container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 15px;
	}

	&__row {
	}
}
.formap {
	display: flex;
	justify-content: center;
	margin-bottom: 95px;
	@media (max-width: 992px) {
		flex-direction: column;
		align-items: center;
	}
	@media (max-width: 768px) {
		flex-direction: column-reverse;
		align-items: center;
	}
}
.form {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	padding: 0px 15px;
	@media (max-width: 992px) {
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
	@media (max-width: 768px) {
		flex: 0 1 50%;
	}
	&__title {
		text-align: center;
		font-style: italic;
		font-weight: 700;
		font-size: 64px;
		line-height: 78px;
		margin-bottom: 30px;
	}
}
form {
	background: #e5e5e5;
	box-sizing: border-box;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.name {
	box-sizing: border-box;
	margin-bottom: 45px;
	flex: 0 1 35%;
	& input {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		font-weight: 700;
		font-size: 36px;
		border: none;
	}
}
.email {
	box-sizing: border-box;
	margin-bottom: 45px;
	flex: 0 1 55%;
	& input {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		font-weight: 700;
		font-size: 36px;
		border: none;
	}
}
.message {
	box-sizing: border-box;
	flex: 0 1 100%;
	& textarea {
		box-sizing: border-box;
		min-width: 100%;
		padding: 10px;
		font-weight: 700;
		font-size: 36px;
		border: none;
		resize: none;
	}
}
.map {
	box-sizing: border-box;
	border: none;
	width: 626px;
	height: 587px;
	padding: 0px 15px;
	@media (max-width: 992px) {
		width: 800px;
		height: 800px;
	}
	@media (max-width: 768px) {
		width: 600px;
		height: 600px;
		margin-bottom: 30px;
	}
}
// ----------------------------------------------
.info {
	&__row {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		margin-bottom: 30px;
		& a {
			color: #000000;
			text-decoration: none;
		}
		font-style: italic;
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
		& span {
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 36px;
		}
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0px 15px;
		@media (max-width: 768px) {
			flex: 0 1 70%;
			margin-bottom: 50px;
		}
	}
}
.info1 {
	text-align: center;
}
.info1-email {
}
.info1-phone {
}
.info1-adres {
}
.info2 {
}
.info2-title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 20px;
}
.info2-text {
}
.info3 {
	align-items: flex-start;
}
.info3-title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
}
.info3-inst {
	position: relative;
	padding: 0px 0px 0px 80px;
	&::before {
		content: "";
		position: absolute;
		top: 5px;
		left: 0;
		width: 26px;
		height: 26px;
		margin: 0px 0px 0px 40px;
		background: url("../img/footer/inst.svg") 50% / cover no-repeat;
	}
}
.info3-face {
	position: relative;
	padding: 0px 0px 0px 80px;
	&::before {
		content: "";
		position: absolute;
		top: 5px;
		left: 0;
		width: 26px;
		height: 26px;
		margin: 0px 0px 0px 40px;
		background: url("../img/footer/face.svg") 50% / cover no-repeat;
	}
}
.info3-twit {
	position: relative;
	padding: 0px 0px 0px 80px;
	&::before {
		content: "";
		position: absolute;
		top: 5px;
		left: 0;
		width: 26px;
		height: 26px;
		margin: 0px 0px 0px 40px;
		background: url("../img/footer/twit.svg") 50% / cover no-repeat;
	}
}
