@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
body {
  font-family: Montserrat;
}

body {
  background: #ececec;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  padding: 0px 10px;
  z-index: 2;
  -webkit-box-shadow: 0 6px 4px #c4c4c4;
          box-shadow: 0 6px 4px #c4c4c4;
  background-color: #fff !important;
}

.header-navbar {
  max-width: 1240px;
  margin: 0 auto;
  background-color: #fff !important;
}

.navbar-collapse {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70px;
          flex: 0 1 70px;
  margin: 0;
  padding: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.navbar-brand img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.d-flex {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 16px 0;
}

.name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 75px 0px 31px;
  border-top: 1px solid #c4c4c4;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
}

.form-control {
  background: url("../img/header/adress.png") 10px 50% no-repeat;
  padding-left: 40px;
  border: 2px solid #000;
  width: 500px;
}

.btn-outline-warning {
  color: white;
  background: #ef781a;
  margin-right: 30px;
  margin-left: 25%;
}

.btn-outline-success {
  color: white;
  background: #00d008;
}

.food {
  padding-top: 120px;
}

@media (min-width: 992px) {
  .food {
    padding-top: 250px;
  }
}

.food li {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7b7b7b;
  margin: 0 16px;
}

.food a:hover {
  border-radius: 10px;
  background-color: #c4c4c4;
  color: #343434;
}

.food-nav {
  margin-bottom: 20px;
}

.food-nav .navbar {
  background-color: #ececec !important;
}

.card {
  -webkit-box-shadow: 0 6px 4px #c4c4c4;
          box-shadow: 0 6px 4px #c4c4c4;
}

.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 10px;
}

.card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  color: #a2a2a2;
  margin-bottom: 30px;
}

.card-price {
  cursor: pointer;
  width: 113px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

.card-price:hover {
  display: none;
}

.card-price:hover + .bucket {
  display: block;
}

.bucket {
  padding: 10px 23px;
  display: none;
  position: absolute;
  left: 23px;
  bottom: 9px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  background: #ff6c01;
  border-radius: 10px;
  border: none;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
}

.test1 {
  width: 100px;
  height: 100px;
  background: #000;
  margin-right: 50px;
}

.test1:hover {
  background: #4477b9;
}

.test1:hover + .test2 {
  background: #b9b744;
}

.test2 {
  width: 100px;
  height: 100px;
  background: #d15252;
}

.heart {
  position: absolute;
  right: 23px;
  bottom: 14px;
}

.heart:hover path {
  fill: #69a042;
}

.container {
  padding: 0;
  margin: 0;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 35px;
}

.col-xl-4,
.col-lg-4,
.col-sm-6,
.col-12 {
  padding: 0;
}

.partner {
  padding: 30px 30px 15px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 70px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
  margin-bottom: 7px;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 15px;
}

.up {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/Feather-arrows-arrow-up.svg") 50% no-repeat #fff;
}

.order {
  padding: 25px 16px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
}

.order__label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 0px 20px;
  margin-bottom: 30px;
}

.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px;
}

.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-order__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.item-order__deliv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 30px;
}

.total-food {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.total-food_label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.total-food_list {
  padding: 5px 0px 0px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #979797;
}

.total__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.total__amount span.plus,
.total__amount span.minus {
  cursor: pointer;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 10px;
}

.total__amount span.plus {
  background: url("../img/order/+.svg") 50% no-repeat #ff6c01;
}

.total__amount span.minus {
  background: url("../img/order/-.svg") 50% no-repeat #ff6c01;
}

.total__price {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.button-order {
  padding: 20px;
  background: #ff6c01;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
