@import url(https://fonts.googleapis.com/css?family=Rosario:700,600italic,700italic&display=swap);
body {
  padding: 0;
  margin: 0;
  font-family: Rosario;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 100%;
  background: #000;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 129px;
  max-width: 1620px;
  margin: 0 auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
}

@media (max-width: 1300px) {
  .header__menu {
    display: none;
  }
}

.header::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/header/burger.svg") 50%/cover no-repeat;
  display: none;
}

@media (max-width: 1300px) {
  .header::after {
    display: block;
  }
}

.logo-link {
  display: block;
  width: 253px;
  height: 129px;
  padding: 0;
  margin: 0;
  background: #e5e5e5;
}

.logo-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__link {
  padding: 0px 24px;
}

.menu__link a {
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fffcfc;
}

[class*="__container"] {
  max-width: 1620px;
  margin: 0 auto;
}

.gallary__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 5px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .gallary__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallary__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 992px) {
  .gallary__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 768px) {
  .gallary__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.gallary__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.col-2 .gallary__item,
.col-3 .gallary__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 15px;
}

.col-1 {
  position: relative;
  -webkit-animation: anim1 2s ease 1;
          animation: anim1 2s ease 1;
}

@-webkit-keyframes anim1 {
  0% {
    -webkit-transform: translate(-200%);
            transform: translate(-200%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes anim1 {
  0% {
    -webkit-transform: translate(-200%);
            transform: translate(-200%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 992px) {
  .col-1 {
    -webkit-animation: anim1 1s ease 1;
            animation: anim1 1s ease 1;
  }
  @-webkit-keyframes anim1 {
    0% {
      -webkit-transform: translate(-100%);
              transform: translate(-100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes anim1 {
    0% {
      -webkit-transform: translate(-100%);
              transform: translate(-100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
}

.col-2 {
  position: relative;
  -webkit-animation: anim2 1s ease 1;
          animation: anim2 1s ease 1;
}

@-webkit-keyframes anim2 {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes anim2 {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 992px) {
  .col-2 {
    -webkit-animation: anim2 1s ease 1;
            animation: anim2 1s ease 1;
  }
  @-webkit-keyframes anim2 {
    0% {
      -webkit-transform: translate(100%);
              transform: translate(100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes anim2 {
    0% {
      -webkit-transform: translate(100%);
              transform: translate(100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
}

.col-3 {
  position: relative;
  -webkit-animation: anim3 1s ease 1;
          animation: anim3 1s ease 1;
}

@-webkit-keyframes anim3 {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes anim3 {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 992px) {
  .col-3 {
    -webkit-animation: anim3 1s ease 1;
            animation: anim3 1s ease 1;
  }
  @-webkit-keyframes anim3 {
    0% {
      -webkit-transform: translate(-100%);
              transform: translate(-100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes anim3 {
    0% {
      -webkit-transform: translate(-100%);
              transform: translate(-100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
}

.col-4 {
  position: relative;
  -webkit-animation: anim4 2s ease 1;
          animation: anim4 2s ease 1;
}

@-webkit-keyframes anim4 {
  0% {
    -webkit-transform: translate(200%);
            transform: translate(200%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes anim4 {
  0% {
    -webkit-transform: translate(200%);
            transform: translate(200%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 992px) {
  .col-4 {
    -webkit-animation: anim4 1s ease 1;
            animation: anim4 1s ease 1;
  }
  @-webkit-keyframes anim4 {
    0% {
      -webkit-transform: translate(100%);
              transform: translate(100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes anim4 {
    0% {
      -webkit-transform: translate(100%);
              transform: translate(100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
}

@media (max-width: 768px) {
  .i1,
  .i3,
  .i5 {
    position: relative;
    -webkit-animation: odd 1s ease 1;
            animation: odd 1s ease 1;
  }
  @-webkit-keyframes odd {
    0% {
      -webkit-transform: translate(-300%);
              transform: translate(-300%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes odd {
    0% {
      -webkit-transform: translate(-300%);
              transform: translate(-300%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  .i2,
  .i4,
  .i6 {
    position: relative;
    -webkit-animation: even 1s ease 1;
            animation: even 1s ease 1;
  }
  @-webkit-keyframes even {
    0% {
      -webkit-transform: translate(300%);
              transform: translate(300%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes even {
    0% {
      -webkit-transform: translate(300%);
              transform: translate(300%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
}

.service {
  min-height: 100vh;
}

.service__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 129px 0px 0px 0px;
}

@media (max-width: 992px) {
  .service__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.service__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__column img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.circles-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.circles-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.circles-text {
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

@media (max-width: 768px) {
  .service-bg {
    display: none;
  }
}

.c1 {
  position: relative;
  -webkit-animation: anim5 20s ease infinite;
          animation: anim5 20s ease infinite;
}

@-webkit-keyframes anim5 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  25% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    -webkit-transform: translate(100%, 113%);
            transform: translate(100%, 113%);
  }
  75% {
    -webkit-transform: translate(0%, 113%);
            transform: translate(0%, 113%);
  }
}

@keyframes anim5 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  25% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    -webkit-transform: translate(100%, 113%);
            transform: translate(100%, 113%);
  }
  75% {
    -webkit-transform: translate(0%, 113%);
            transform: translate(0%, 113%);
  }
}

.c2 {
  position: relative;
  -webkit-animation: anim6 20s ease infinite;
          animation: anim6 20s ease infinite;
}

@-webkit-keyframes anim6 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  25% {
    -webkit-transform: translate(0%, 113%);
            transform: translate(0%, 113%);
  }
  50% {
    -webkit-transform: translate(-100%, 113%);
            transform: translate(-100%, 113%);
  }
  75% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@keyframes anim6 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  25% {
    -webkit-transform: translate(0%, 113%);
            transform: translate(0%, 113%);
  }
  50% {
    -webkit-transform: translate(-100%, 113%);
            transform: translate(-100%, 113%);
  }
  75% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

.c3 {
  position: relative;
  -webkit-animation: anim7 20s ease infinite;
          animation: anim7 20s ease infinite;
}

@-webkit-keyframes anim7 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  25% {
    -webkit-transform: translate(0, -113%);
            transform: translate(0, -113%);
  }
  50% {
    -webkit-transform: translate(100%, -113%);
            transform: translate(100%, -113%);
  }
  75% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes anim7 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  25% {
    -webkit-transform: translate(0, -113%);
            transform: translate(0, -113%);
  }
  50% {
    -webkit-transform: translate(100%, -113%);
            transform: translate(100%, -113%);
  }
  75% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

.c4 {
  position: relative;
  -webkit-animation: anim8 20s ease infinite;
          animation: anim8 20s ease infinite;
}

@-webkit-keyframes anim8 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  25% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50% {
    -webkit-transform: translate(-100%, -113%);
            transform: translate(-100%, -113%);
  }
  75% {
    -webkit-transform: translate(0, -113%);
            transform: translate(0, -113%);
  }
}

@keyframes anim8 {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  25% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50% {
    -webkit-transform: translate(-100%, -113%);
            transform: translate(-100%, -113%);
  }
  75% {
    -webkit-transform: translate(0, -113%);
            transform: translate(0, -113%);
  }
}

.team__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 129px 0px 0px;
}

.team__title {
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  margin: 70px 0 70px;
  text-align: center;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .team__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0 15px;
  position: relative;
  overflow: hidden;
  min-width: 400px;
  min-height: 677px;
  border-radius: 40px;
}

@media (max-width: 992px) {
  .team__column {
    margin-bottom: 20px;
  }
}

.team__column:hover .team__name {
  opacity: 1;
}

.team__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 115px;
  width: 100%;
  font-size: 48px;
  line-height: 62px;
  background: rgba(163, 83, 10, 0.7);
  color: #fffafa;
  opacity: 0;
}

.t1 {
  background: url("../img/team/1.png") 50%/cover no-repeat;
}

.t2 {
  background: url("../img/team/2.png") 50%/cover no-repeat;
}

.t3 {
  background: url("../img/team/3.png") 50%/cover no-repeat;
}

.t4 {
  background: url("../img/team/4.png") 50%/cover no-repeat;
}

.contacts {
  margin-top: 129px;
}

.contacts__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
}

.formap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 95px;
}

@media (max-width: 992px) {
  .formap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .formap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px;
}

@media (max-width: 992px) {
  .form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.form__title {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 30px;
}

form {
  background: #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 45px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.name input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 36px;
  border: none;
}

.email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 45px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.email input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 36px;
  border: none;
}

.message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.message textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 36px;
  border: none;
  resize: none;
}

.map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 626px;
  height: 587px;
  padding: 0px 15px;
}

@media (max-width: 992px) {
  .map {
    width: 800px;
    height: 800px;
  }
}

@media (max-width: 768px) {
  .map {
    width: 600px;
    height: 600px;
    margin-bottom: 30px;
  }
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.info__row a {
  color: #000000;
  text-decoration: none;
}

.info__row span {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

@media (max-width: 768px) {
  .info__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.info__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px;
}

@media (max-width: 768px) {
  .info__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    margin-bottom: 50px;
  }
}

.info1 {
  text-align: center;
}

.info2-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}

.info3 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info3-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.info3-inst {
  position: relative;
  padding: 0px 0px 0px 80px;
}

.info3-inst::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 26px;
  height: 26px;
  margin: 0px 0px 0px 40px;
  background: url("../img/footer/inst.svg") 50%/cover no-repeat;
}

.info3-face {
  position: relative;
  padding: 0px 0px 0px 80px;
}

.info3-face::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 26px;
  height: 26px;
  margin: 0px 0px 0px 40px;
  background: url("../img/footer/face.svg") 50%/cover no-repeat;
}

.info3-twit {
  position: relative;
  padding: 0px 0px 0px 80px;
}

.info3-twit::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 26px;
  height: 26px;
  margin: 0px 0px 0px 40px;
  background: url("../img/footer/twit.svg") 50%/cover no-repeat;
}
