@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap); // --------------------------------------------------------
html {
}
body {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #171717;
	padding: 0;
	margin: 0;
}
// -------------------------------------------------------
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
	padding-bottom: 110px;
}
// --------------------------------------------------------
label {
	line-height: 140%;
	margin-bottom: 8px;
	font-size: 16px;
	& span {
		color: #d83933;
	}
}
// --------------------------------------------------------
input {
	margin-bottom: 20px;
}
// --------------------------------------------------------
select,
input {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid rgb(224, 219, 219);
	margin-bottom: 20px;
}
// --------------------------------------------------------
[type*="checkbox"] {
	display: inline;
}
// --------------------------------------------------------
[class*="__name"] {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 32px;
}
// --------------------------------------------------------
div[class*="__container"] {
	display: flex;
	flex-direction: column;
	min-width: 715px;
	max-width: 1015px;
	background: #fff;
	padding: 0px 15px;
}
// --------------------------------------------------------
.bb {
	border-bottom: 2px solid rgba(212, 212, 212, 0.836);
}
// --------------------------------------------------------
.intake {
	margin-bottom: 30px;
	&__container {
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 80px;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 140%;
		margin-bottom: 25px;
		& span {
			color: #d83933;
		}
	}

	&__name {
	}

	&__row {
		display: flex;
		margin: 0 -15px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		padding: 0px 15px;
	}
}
// --------------------------------------------------------
.arrow {
	background: url("../img/arrow.svg") 100% 50% / 18px no-repeat;
}
// --------------------------------------------------------
[type*="search"] {
	background: url("../img/search.svg") 98% 50% / 18px no-repeat;
	&:hover {
		background: none;
	}
}
// --------------------------------------------------------
#owner,
#regist {
	color: #0050d8;
}
// --------------------------------------------------------
#purge {
	margin-bottom: 55px;
}
// --------------------------------------------------------
.column-bottom,
.column-top {
	display: flex;
	flex-direction: column;
}

.column-two {
	justify-content: space-between;
}
// --------------------------------------------------------
.maternity {
	margin-bottom: 32px;
	&__container {
	}

	&__name {
	}

	&__row {
		display: flex;
		margin: 0 -15px;
		align-items: center;
	}

	&__item {
		display: flex;
		flex-direction: row;
		flex: 0 1 50%;
		padding: 0px 15px 12px;
	}
}
.maternity__item2 {
	flex-direction: column;
}
// --------------------------------------------------------
.official {
	margin-bottom: 32px;
	&__container {
	}

	&__name {
	}

	&__row {
		display: flex;
		margin: 0 -15px 12px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		padding: 0px 15px;
	}
}

// --------------------------------------------------------
.system {
	&__container {
	}

	&__name {
	}

	&__row {
		display: flex;
		margin: 0 -15px;
		border-bottom: 2px solid rgba(212, 212, 212, 0.836);
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		padding: 0px 15px;
		margin-bottom: 20px;
	}
}
// --------------------------------------------------------
.btn {
	padding: 15px 0px;
	text-align: right;
	& button {
		font-weight: 700;
		font-size: 16px;
		line-height: 140%;
		color: #ffffff;
		padding: 9px 16px;
		background: #0050d8;
		border-radius: 4px;
		border: none;
	}
}
// --------------------------------------------------------
