@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=wrap);
body {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 100px 100px;
}

.wpapper {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 30px 45px;
  background: #ffb084;
  border-radius: 20px;
  margin: 0 auto;
  gap: 20px;
  -ms-grid-columns: 250px 190px 190px;
      grid-template-columns: 250px 190px 190px;
  -ms-grid-rows: (30px)[9];
      grid-template-rows: repeat(9, 30px);
}

.about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  background: #fff;
  border-radius: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  grid-row: 1/8;
  -webkit-box-shadow: 10px 10px #000;
          box-shadow: 10px 10px #000;
}

.about div:not(:last-child) {
  margin-bottom: 15px;
}

.about__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.about span {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.about__photo {
  margin: 0 auto;
  height: 101px;
  width: 101px;
}

.about__photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bio {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 25px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px #000;
          box-shadow: 10px 10px #000;
}

.bio__label {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 7px;
}

.goals {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 15px 25px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px #29a71e;
          box-shadow: 10px 10px #29a71e;
}

.goals__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #29a71e;
  margin-bottom: 7px;
}

.goals__list {
  margin: 0;
  padding-left: 20px;
}

.frustrations {
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4/8;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding: 10px 25px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px #e13535;
          box-shadow: 10px 10px #e13535;
}

.frustrations__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
  color: #e13535;
}

.frustrations__list {
  margin: 0;
  padding-left: 20px;
}

.dream {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 10px 25px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px #3675b0;
          box-shadow: 10px 10px #3675b0;
}

.dream__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
  color: #3675b0;
}

.dream__list {
  margin: 0;
  padding-left: 20px;
}

.personality {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding: 10px 25px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px #000;
          box-shadow: 10px 10px #000;
}

.personality__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
}

.creed {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
  padding: 25px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px #000;
          box-shadow: 10px 10px #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
