@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=M+PLUS+1:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Marcellus+SC:regular&display=swap);
body {
  font-family: "IBM Plex Sans";
  margin: 0;
}

.title {
  padding: 75px 0px 0px 0px;
}

.title__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 157.3%;
  margin: 0px 0px 25px 0px;
}

.title__line {
  width: 405px;
  height: 5px;
  background: #3e45e8;
}

.strong {
  padding: 25px 0px;
  text-align: center;
  font-family: "M PLUS 1";
  font-size: 48px;
  line-height: 70px;
  color: #e8c23e;
}

.blue-span {
  color: #3e45e8;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 803px;
  background: url("../img/main/main.png") 0 0/100% auto no-repeat;
  padding: 195px 0px 0px 80px;
}

.main__expression {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1036px;
  font-weight: 700;
  font-size: 48px;
  line-height: 76px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1e8df2), color-stop(50%, #fbe201)) 0 0/22px no-repeat;
  background: linear-gradient(180deg, #1e8df2 50%, #fbe201 50%) 0 0/22px no-repeat;
  padding: 0px 0px 0px 36px;
}

.places {
  margin: 0 80px 75px;
}

.places__row {
  padding: 35px 0px 0px 0px;
}

.column {
  display: inline-block;
  overflow: hidden;
  width: 391px;
  height: 480px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #afafaf;
          box-shadow: 0 0 20px #afafaf;
  text-decoration: none;
}

.column:nth-child(2) {
  margin: 0px 50px 0px;
}

.column:hover {
  text-decoration: underline;
}

.column__image {
  position: relative;
  margin: 0px 0px 30px 0px;
}

.column__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.column__title {
  color: #1e8df2;
  font-weight: 700;
  font-size: 24px;
  line-height: 157.3%;
  margin: 0px 0px 20px 0px;
  padding: 0px 10px;
}

.column__subtitle {
  color: #e8c23e;
  font-size: 20px;
  line-height: 157.3%;
  padding: 0px 10px;
  max-width: 252px;
}

.support {
  text-align: center;
}

.support__title {
  margin: 0px 0px 40px 0px;
}

.support .center-line {
  margin: 0 auto;
}

.support__illustration {
  margin: 0px 0px 40px 0px;
}

.support__link {
  margin: 0 auto;
  text-decoration: none;
  font-size: 64px;
  line-height: 157.3%;
  font-weight: 700;
  padding: 10px 90px;
  background: #2a61f0;
  color: #fff;
  margin: 0px 0px 20px 0px;
}

.support__link:hover {
  text-decoration: underline;
}

.footer {
  margin: 20px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #2f4a4b;
  text-align: center;
}

.footer__strong {
  padding: 0;
  margin: 0px 0px 20px 0px;
}

.footer__mail {
  margin: 0px 0px 20px 0px;
}

.footer__mail a {
  text-decoration: none;
  font-family: "Marcellus SC";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #a89d9d;
}

.footer__mail a:hover {
  text-decoration: underline;
}

.footer__phone {
  margin: 0px 0px 20px 0px;
}

.footer__phone a {
  text-decoration: none;
  font-family: "Marcellus SC";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #a89d9d;
}

.footer__phone a:hover {
  text-decoration: underline;
}

.footer__social {
  padding: 0px 0px 25px 0px;
}

.social-link {
  padding: 0px 10px;
}
