body {
	background: #e5e5e5;
}
.cube,
.circle-frame {
	box-sizing: border-box;
	margin: 0 50px 100px;
	width: 512px;
	height: 512px;
	display: inline-block;
}
.cube,
.circle {
	background: linear-gradient(180deg, rgba(33, 55, 252, 1) 50%, rgba(255, 206, 34, 1) 50%);
}
.circle-frame {
	background: #fff;
}
.circle {
	margin: 25px;
	height: 467px;
	border-radius: 50%;
}
// ------------------------------------------------------
.wave {
	&__cube {
	}

	&__circle {
	}
}
.cube-wave {
	&_item {
		height: 100%;
		background: url("../img/wave.png") 50% / auto no-repeat;
	}
}

.circle-wave {
	&_item {
		height: 100%;
		background: url("../img/wave.png") bottom / auto no-repeat;
	}
}
// --------------------------------------------------
.hexagon {
	&__cube {
	}

	&__circle {
	}
}
.cube-hexagon {
	&_item {
		height: 100%;
		background: url("../img/hexagon.png") left / auto no-repeat;
	}
}

.circle-hexagon {
	&_item {
		height: 100%;
		background: url("../img/hexagon.png") center / auto no-repeat;
	}
}

// -----------------------------------------------------------
.plane {
	&__cube {
	}

	&__circle {
	}
}
.cube-plane {
	&_item {
		height: 100%;
		background: url("../img/Plane.png") bottom right / auto no-repeat;
	}
}
.circle-plane {
	&_item {
		height: 100%;
		background: url("../img/Plane.png") center / auto no-repeat;
	}
}
// -----------------------------------------------------------
.diya {
	&__cube {
	}

	&__circle {
	}
}
.cube-diya_item {
	height: 100%;
	background: url("../img/diya.png") center / auto no-repeat;
}
.cube-diya {
	// &_item {
	// 	height: 100%;
	// 	background: url("/img/diya.svg") center / auto no-repeat;
	// }
	&_flag {
		// width: 80px;
		// height: 60px;
		// margin-top: 15px;
		// background: linear-gradient(180deg, rgba(30, 141, 242, 1) 50%, rgba(251, 226, 1, 1) 50%);
	}
}
.circle-diya {
	&_item {
		height: 100%;
		background: url("../img/diya.png") center / auto no-repeat;
	}
}
//
.cube-black {
	&.flag1 {
		background: #000 url("../img/Flag.png") center 83% / 80px 60px no-repeat;
	}
	&.flag2 {
		background: #000 url("../img/Flag.png") 15px 15px / 80px 60px no-repeat;
	}
	&.flag34 {
		background: url("../img/Flag.png") 15px 15px / 80px 60px no-repeat,
			url("../img/Flag.png") 417px 15px / 80px 60px no-repeat black;
	}
}
